---
- name: application installation
  hosts: app_vms
  gather_facts: true

  vars:
    app_install_packages:
      - nginx
      - python3
      - python3-pip
    app_source_dir: /opt/app

  roles:
    - app_install
