- name: system hardening
  hosts: app_vms
  gather_facts: true

  vars:
    disable_services:
      - bluetooth
      - avahi-daemon

    sysctl_parameters:
      net.ipv4.ip_forward: 0
      net.ipv4.conf.all.accept_redirects: 0
      net.ipv4.conf.all.send_redirects: 0

  tasks:
    - name: Gather service facts
      service_facts:

    - name: hardening | disable unnecessary services if they exist
      service:
        name: "{{ item }}"
        state: stopped
        enabled: no
      loop: "{{ disable_services }}"
      when: item in ansible_facts.services

    - name: hardening | apply sysctl parameters
      sysctl:
        name: "{{ item.key }}"
        value: "{{ item.value }}"
        state: present
        reload: yes
      loop: "{{ sysctl_parameters|dict2items }}"

  roles:
    - hardening
