- name: system hardening
  hosts: app_vms
  gather_facts: true

  vars:
    disable_services:
      - bluetooth
      - avahi-daemon

    sysctl_parameters:
      net.ipv4.ip_forward: 0
      net.ipv4.conf.all.accept_redirects: 0
      net.ipv4.conf.all.send_redirects: 0

  tasks:
  - name: hardening | stop unnecessary services safely
    ansible.builtin.shell: |
      systemctl stop {{ item }} || true
      systemctl disable {{ item }} || true
    loop: "{{ disable_services }}"

  - name: hardening | apply sysctl parameters
    sysctl:
      name: "{{ item.key }}"
      value: "{{ item.value }}"
      state: present
      reload: yes
    loop: "{{ sysctl_parameters | dict2items }}"
