- name: system hardening
  hosts: app_vms
  gather_facts: true

  vars:
    disable_services:
      - bluetooth
      - avahi-daemon

    sysctl_parameters:
      net.ipv4.ip_forward: 0
      net.ipv4.conf.all.accept_redirects: 0
      net.ipv4.conf.all.send_redirects: 0

  tasks:
    - name: hardening | disable unnecessary services if they exist
      service:
        name: "{{ item }}"
        state: stopped
        enabled: no
      loop: "{{ disable_services }}"
      when: item in ansible_facts.services.keys()

  roles:
    - hardening
